<section>
  <div class="imgBox">
    <img src="../../../assets/SignIn.jpg" />
  </div>
  <div class="contentBox">
    <div class="formBox">
      <h2>Sign Up</h2>
      <form>
        <div class="inputBox">
          <span>Email</span>
          <input type="email" placeholder="Give us your e-mail" />
        </div>
        <div class="inputBox">
          <span>Password</span>
          <input type="password" placeholder="And your password" />
        </div>
        <div class="inputBox">
          <input type="submit" value="Sign up" />
        </div>
        <div class="inputBox">
          <p>Have an account? <a href="index.html">Sign in</a></p>
        </div>
      </form>
    </div>
  </div>
</section>
