<div class="main-content">
  <main>
    <h2 class="dash-title">Overview</h2>
    <div class="dash-cards">
      <div class="card-single">
        <div class="card-body">
          <span class="ti-briefcase"></span>
          <div>
            <h5>Account Balance</h5>
            <h4>$30.659.56</h4>
          </div>
        </div>
        <div class="card-footer">
          <a href="">View all</a>
        </div>
      </div>

      <div class="card-single">
        <div class="card-body">
          <span class="ti-briefcase"></span>
          <div>
            <h5>Pending</h5>
            <h4>$19,659,45</h4>
          </div>
        </div>
        <div class="card-footer">
          <a href="">View all</a>
        </div>
      </div>
    </div>
    <section class="recent">
      <div class="activity-grid">
        <div class="activity-card">
          <h3>Top trading search in CoinGecko</h3>
          <div class="table-responsive">
            <table>
              <thead>
                <tr>
                  <th>Coin Name</th>
                  <th>Place in Ranking</th>
                  <th>Value of BTC</th>
                  <th>Icon</th>
                  <th>Symbol</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let name of names">
                  <td>{{ name.name }}</td>
                  <td>{{ name.symbol }}</td>
                  <td>{{ name.current_price }}$</td>
                  <td>{{ name.market_cap_rank }}</td>
                  <td><img src="{{ name.image }}" alt="" /></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="summary">
          <div class="summary-card">
            <div class="summary-single">
              <span class="ti-id-badge"></span>
              <div>
                <h5>196</h5>
                <small>Number of staff</small>
              </div>
            </div>
            <div class="summary-single">
              <span class="ti-calendar"></span>
              <div>
                <h5>196</h5>
                <small>Number of staff</small>
              </div>
            </div>
            <div class="summary-single">
              <span class="ti-face-smile"></span>
              <div>
                <h5>12</h5>
                <small>Profile update request</small>
              </div>
            </div>
          </div>
          <!--     <div class="birthday-card">
                  <div class="bday-img"></div>
                  <div class="bday-info">
                    <h5>Dwayne F. Sanders</h5>
                    <small>Birthday Today</small>
                  </div>
                  <button>
                    <span class="ti-gift"> Wish him </span>
                  </button>
                </div> -->
        </div>
      </div>
    </section>
  </main>
</div>
